[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
gunicorn = "*"
django-cors-headers = "*"
django-on-heroku = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-extensions = "*"
djoser = "*"
django-csp = "*"

[dev-packages]

[requires]
python_version = "3.10"
