body
{
    margin: 0;
}

#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameDiv
{
    position: relative;
    width: calc(min(100vw, 220vh / 1.15));
    height: calc(min(100vh, 115vw / 2.2));
}
