body
{
    margin: 0;
}

#main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDiv
{
    --aspectRatio: calc(22.0 / 11.5);
    position: relative;
    width: calc(min(min(100vw, 100vh * var(--aspectRatio)), 880px));
    height: calc(min(min(100vh, 100vw / var(--aspectRatio)), 460px));
}
