@import url('https://fonts.googleapis.com/css?family=Bungee:regular,bold,italic&subset=latin,latin-ext');

#flip {
  height: 84px;
  overflow:hidden;
  display: inline-block;
}

#flip > div > div {
  color:#fff;
  padding:4px 10px;
  margin-bottom: 40px;
  height:84px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  font-family:'bungee';
}
#flip div:first-child div {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
#flip div:last-child div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}