@import url('https://fonts.googleapis.com/css?family=Bungee:regular,bold,italic&subset=latin,latin-ext');

#flip {
  transform: translateY(4px);
  height: 5rem;
  overflow:hidden;
  display: inline-block;
}

#flip div {
  height: 5rem;
}

#flip > div > div {
  color:#fff;
  height:5rem;
  display:inline-block;
  flex-shrink: 0;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip .bungee {
  font-family:'bungee';
}
#flip .trebuchet {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#flip .gill-sans {
  font-family: cursive;
}



@keyframes show {
  0% {margin-top:-15rem;}
  5% {margin-top:-10rem;}
  33% {margin-top:-10rem;}
  38% {margin-top:-5rem;}
  66% {margin-top:-5rem;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
  /* 100% {margin-top:-270px;} */
}