<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55/dist/phaser.js"></script>
    <script src="/static/js/consts.js" defer></script>
    <script src="/static/js/game.js" defer></script>
    <link rel="stylesheet" href="/static/css/game.css">
    <title>Block In Time</title>
</head>
<body>
    <div id="main">
        <div id="gameDiv"></div>
    </div>
</body>
</html>
